@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body { @apply h-full; }
.dark body {
	background-image: radial-gradient(at top left, rgba(25,107,117,1) -70%, rgba(0,0,0,1) 55%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}